option_settings:
  "aws:elasticbeanstalk:container:php:phpini":
    document_root: /public
    memory_limit: 512M
  "aws:elasticbeanstalk:sqsd":
    HttpPath: /worker/queue
  "aws:elasticbeanstalk:application:environment":
    APP_ENV: production
    APP_DEBUG: true
    APP_KEY: alejandrocalejandrocalejandroale
    APP_TIMEZONE: UTC
    DB_CONNECTION: mysql
    DB_DATABASE: areratest
    DB_PASSWORD: areratest
    DB_HOST: areratest.chj4wcj6pw4z.us-west-2.rds.amazonaws.com
    DB_USERNAME: areratest
    DB_PORT: 3306
    QUEUE_DRIVER: sqs
    AWS_QUEUE_PREFIX: https://sqs.us-west-2.amazonaws.com/397779943148
    AWS_QUEUE_NAME: awseb-e-wifurp4ijz-stack-AWSEBWorkerQueue-CNSQ1ORP6XVT
    AWS_REGION: us-west-2
    REDIS_HOST: areratest.ca3z8z.ng.0001.usw2.cache.amazonaws.com
    CACHE_DRIVER: redis
   