option_settings:
  "aws:elasticbeanstalk:container:php:phpini":
    document_root: /public
    memory_limit: 512M
  "aws:elasticbeanstalk:sqsd":
    HttpPath: /worker/queue
  "aws:elasticbeanstalk:application:environment":
    APP_ENV: production
    APP_DEBUG: true
    APP_KEY: alejandrocalejandrocalejandroale
    DB_CONNECTION: mysql
    DB_PORT: 3306
    DB_HOST: areratest1.c79zdkfqti7b.us-west-2.rds.amazonaws.com
    DB_DATABASE: areratest1
    DB_USERNAME: areratest1
    DB_PASSWORD: areratest1
    API_BASE_URI: http://arera-test-dev.us-west-2.elasticbeanstalk.com/
    CACHE_DRIVER: redis
    QUEUE_DRIVER: sqs
    AWS_PUBLIC_KEY: AKIAIHBIXU2XWB6SM2DQ
    AWS_SECRET_KEY: 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
    AWS_QUEUE_NAME: https://sqs.us-west-2.amazonaws.com/117291633754/ARERA
    AWS_REGION: us-west-2
    REDIS_HOST: areratestcache.3sgi4d.ng.0001.usw2.cache.amazonaws.com
