container_commands:
  01-migrations:
    command: "php artisan migrate --force"
  02-cache:
    command: "php artisan cache:clear"
    cwd: "/var/app/ondeck"
  04-permissions:
    # fix permissions on the Laravel app folder
    command: "chmod 777 -R /var/app/ondeck"
    cwd: "/var/app/ondeck"
  05-optimize:
      command: "/usr/bin/composer.phar dump-autoload --optimize"